@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,700|Muli:300,300i,400,400i,600,600i,700,700i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,700|Muli:300,300i,400,400i,600,600i,700,700i,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  filter: invert(1);
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.redtext {
  color: white;
}


.about_thumb {
  position: absolute;
  top: -300px;
  left: 340px;
}
.about_inf {
  font-family: 'Impact', 'Verdana', sans-serif;
  padding:10px;
	width:80px;
  word-break:inherit;
  position: absolute;
  top: -300px;
  left: -600px;
  font-size: 100px;
}

.about_in {
  font-family: 'Impact', 'Verdana', sans-serif;
  font-size: 60px;
  padding:10px;
  width:80px;
  text-shadow: 1px 1px 2px black;
  line-height: normal;
  word-break:inherit;
  position: absolute;
  top: -300px;
  left: -20px;
}

.thisis {
  line-height: normal;
  font-family: Courier, monospace;
  font-size: 40px;
  padding: 1px;
  width:60px;
  word-break:inherit;
  position: absolute;
  top: -200px;
  left: 380px;
}

.perevorot {
  line-height: normal;
	color:#fff!important;
	text-shadow: 1px 1px 2px #000;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-family: 'Impact', 'Verdana', sans-serif;
  writing-mode: vertical-lr; 
  text-orientation: upright; 
  word-spacing: normal;
  font-size: 65px;
  position: absolute;
  top: -300px;
  left: -290px;
}

.what {
  color: #ffffff;
  font-family: 'Impact', 'Verdana', sans-serif;
  padding:10px;
	width:80px;
  word-break:inherit;
  position: absolute;
  top: -400px;
  left: -200px;
  font-size: 100px;
}

.who {
  line-height: normal;
	color:#0a0000!important;
	text-shadow: 1px 1px 2px #fdfcfc;
  -webkit-text-stroke: 1px rgb(245, 245, 245);
  font-family: 'Impact', 'Verdana', sans-serif;
  word-spacing: normal;
  font-size: 40px;
  position: absolute;
  top: -90px;
  left: -190px;
}

.sk1 {
  line-height: 70px;
  font-family: Courier, monospace;
  font-size: 30px;
  padding: 10px;
  width: 600px;
  word-break: normal;
  position: absolute;
  top: -370px;
  left: 800px;
  color:#ffffff
}

.gif {
  box-sizing: border-box;width: 100%;border: solid #fcfcfc 1px;padding: 80px;
}

.gif2 {
  position: absolute;
  left: 670px;
  top: 1909px;
}

.gif3 {
  position: absolute;
  left: 1250px;
  top: 1909px;
}

.gif1 {
  position: absolute;
  left: 100px;
  top: 1909px;
}

.video {
  box-sizing: border-box;width: 100%;border: solid #dbdbdb 1px;padding: 400px;
  background-color:#d6d6d6
}

.video1 {
  position: absolute;
  left: 100px;
  top: 2250px;
}

.video2 {
  position: absolute;
  left: 100px;
  top: 2500px;
}

.video3 {
  position: absolute;
  left: 550px;
  top: 2250px;
}

.video4 {
  position: absolute;
  left: 550px;
  top: 2500px;
}

.videotxt {
  line-height: normal;
	color:#0a0000!important;
  font-family: 'Impact', 'Verdana', sans-serif;
  word-spacing: normal;
  font-size: 80px;
  position: absolute;
  left: 100px;
  top: 2100px;
}

.tglink {
  position: absolute;
  left: 1200px;
  top: 2200px;

}

.liink {
  position: absolute;
  left: 140px;
  top: 420px;
}

a.button28 {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .90em 5em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(54, 54, 54), rgb(65, 65, 65)) rgb(71, 71, 71);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
a.button28:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
a.button28:active {
  top: 1px;
  background: linear-gradient(rgb(46, 46, 46), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

.work {
  padding-top: 500px;
  padding-bottom: 120px;
  background-color: #050000
}

.how {
  color: #ffffff;
  font-family: 'Impact', 'Verdana', sans-serif;
  position: absolute;
  top: -500px;
  left: 100px;
  font-size: 80px;
}

.why {
  line-height: normal;
	color:#ffffff;
  font-family: 'Impact', 'Verdana', sans-serif;
  padding: 10px;
  width: 600px;
  word-break: normal;
  font-size: 25px;
  position: absolute;
  top: -400px;
  left: 150px;
}

.trenslate {
  line-height: normal;
  font-family: 'Impact', 'Verdana', sans-serif;
  padding: 10px;
  width: 600px;
  word-break: normal;
  font-size: 30px;
  position: absolute;
  top: -400px;
  left: 1150px;
}


.giff {
  box-sizing: border-box;width: 100%;border: solid #ffffff 1px;padding: 80px;
}

.gif5 {
  position: absolute;
  left: 670px;
  top: 3500px;
}

.gif6 {
  position: absolute;
  left: 1250px;
  top: 3500px;
}

.gif4 {
  position: absolute;
  left: 100px;
  top: 3500px;
}

.p1 {
  position: absolute;
  top: -250px;
  left: 250px;
}

.p2 {
  position: absolute;
  top: -250px;
  left: 550px;
}

.p3 {
  position: absolute;
  top: -250px;
  left: 850px;
}

h3 {
  font-size: 90px;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Muli", sans-serif;
}

h3 {
  font-size: 24px;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, black 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#000000',GradientType=0 );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.boxed-btn3 {
  background: #ED1B1B;
  color: #fff;
  display: inline-block;
  padding: 12px 42px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid transparent;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.boxed-btn3:hover {
  background: transparent;
  color: #ED1B1B !important;
  border: 1px solid #ED1B1B;
}

.boxed-btn3:focus {
  outline: none;
}


.boxed-btn3.large-width {
  width: 220px;
}

.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

.boxed-btn2:focus {
  outline: none;
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;
}

.header-area .main-header-area {
  padding: 18px 0;
  background: #fff;
  background: transparent;
  padding: 30px 150px;
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

.header-area .main-header-area .social_icon ul li {
  display: inline-block;
}

.header-area .main-header-area .social_icon ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #41393A;
  font-size: 14px;
  margin-left: 6px;
}

.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}


.header-area .main-header-area .Appointment .search_button a i {
  color: #E8E8E8;
}

.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}

.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}

.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}



.header-area .main-header-area .Appointment .book_btn a {
  background: #ED1B1B;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}



.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #ED1B1B;
  color: #fff;
  border: 1px solid #ED1B1B;
}

.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  text-transform: capitalize;
}



.slider_bg_1 {
  background-image: url(../img/banner/banner.png);
}

.slider_area .single_slider {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider_area .single_slider .slider_text h3 {
  color: #FFF;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 600;
}

.slider_area .music_wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about_area {
  padding-top: 340px;
  padding-bottom: 120px;
}

.skills {
  padding-top: 390px;
  padding-bottom: 120px;
  background-color: #050000
}


.about_area  {
  margin-bottom: 30px;
}

.about_area {
  padding-left: 68px;
  margin-bottom: 30px;
}

.about_area  h3 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
}

.about_area  p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 17px;
  margin-bottom: 40px;
}

.contact_rsvp {
  padding: 184px 0;
  background-image: url(../img/banner/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}


.contact_rsvp::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  z-index: -1;
  background: -moz-linear-gradient(top, rgba(0, 29, 56, 0.6) 0%, #001d38 100%);
  background: -webkit-linear-gradient(top, rgba(0, 29, 56, 0.6) 0%, #001d38 100%);
  background: linear-gradient(to bottom, rgba(0, 29, 56, 0.6) 0%, #001d38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99001d38', endColorstr='#001d38',GradientType=0 );
}

.contact_rsvp .text h3 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

